:root {
  --logo-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-blue-color: #2e2f42;
  --text-color: #434455;
  --close-to-white-color: #f4f4fd;
  --white-color: #ffffff;
  --light-gray-color: #8e8f99;
  --green-color: #31d0aa;
  --modal-background: #fcfcfc;
  --button-color: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*special classes*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*PAGE 1*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-li {
  display: flex;
  gap: 40px;
}

.header-li:last-child {
  margin-right: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pressed-state-color);
}

.logo-span {
  color: var(--dark-blue-color);
}

.header-nav {
  display: block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav.active::after {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
  content: '';
  color: var(--pressed-state-color);
}

.header-nav:hover,
.header-nav:focus {
  color: var(--pressed-state-color);
}

.adress-style {
  display: flex;
  gap: 40px;

  font-style: normal;
}

.header-adress {
  display: block;
  padding: 24px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress:hover,
.header-adress:focus {
  color: var(--pressed-state-color);
}

/*main*/

/*hero section*/
.hero {
  padding: 188px 0;
  flex-shrink: 0;
  background-color: var(--dark-blue-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--logo-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/*advantages*/
.advantages {
  padding: 120px 0;
}

.invisible-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.advantages-layout {
  display: flex;
  gap: 24px;
}

.advantages-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;

  border-radius: 4px;
  background-color: var(--close-to-white-color);
  margin-bottom: 8px;
}

.advantages-icons {
  fill: none;
  stroke: var(--dark-blue-color);
}

.advantages-li {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark-blue-color);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*visual*/
.visual {
  padding-bottom: 120px;
}

.visual-li {
  display: flex;
  gap: 24px;
}

.visual-layout {
  width: calc((100% - 48px) / 3);
}

.visual-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.image-layout {
}

/*Team*/
.team {
  padding: 120px 0;

  background-color: var(--close-to-white-color);
}

.team-li {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.team-images {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-layout {
  padding: 32px 16px;
  padding: 32px 0;
}

.team-names {
  margin-bottom: 8px;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.team-position {
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.team-list-color {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  gap: 24px;
}

.background-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background-link:hover {
  background-color: var(--pressed-state-color);
}

.background-link:focus {
  background-color: var(--pressed-state-color);
}

.team-social-icons {
  fill: var(--close-to-white-color);
}

/*Customers*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-blue-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-gray-color);
  border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customers-icon {
  fill: currentColor;
}

.customers-icon-layout {
  display: inline-flex;
  padding: 9px 9px 6px 11px;
  justify-content: center;
  align-items: center;
}

/*footer*/

.footer {
  padding: 100px 0;

  background-color: var(--dark-blue-color);
}

.horizontal {
  display: flex;
  align-items: baseline;
}

.footer-margin {
  margin-right: 120px;
}

.footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.footer-span {
  color: var(--close-to-white-color);
}

.footer-text {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--close-to-white-color);
}

.footer-media-list {
  display: flex;
  gap: 16px;
}

.footer-media-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green-color);
}

.footer-social-icons {
  fill: var(--close-to-white-color);
}

/*PAGE 2*/

/*main*/
.all {
  padding-top: 96px;
  padding-bottom: 120px;
}

/*button*/
.button-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-filters:hover,
.button-filters:focus {
  box-shadow: зі значенням 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-transition {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .button-filters {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--close-to-white-color);
  cursor: pointer;
}

.portfolio .button:hover,
.portfolio .button:focus {
  border: 1px solid transparent;

  color: var(--white-color);
  background-color: var(--pressed-state-color);
}

/*projects*/

.projects-li {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-li:last-child {
  margin-right: 0;
}

.projects-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover {
  box-shadow: зі значенням 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-link {
  width: calc((100% - 48px) / 3);
  position: relative;
}

.projects-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*overlay class*/

.projects-link:hover,
.projects-link:focus {
  transform: translateY(0%);
}

.projects-link:hover .overlay-text,
.projects-link:focus .overlay-text {
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-shrink: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--close-to-white-color);
  align-items: center;
  text-align: center;
  padding: 40px 32px;
  background-color: var(--logo-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text p {
}

/*modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: var(--dark-blue-color);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--white-color);
}
