:root {
  --logo-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-blue-color: #2e2f42;
  --text-color: #434455;
  --close-to-white-color: #f4f4fd;
  --white-color: #ffffff;
  --light-gray-color: #8e8f99;
  --green-color: #31d0aa;
  --modal-background: #fcfcfc;
  --button-color: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*special classes*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  border: 5px solid red;
} */

/*Base styles for small devices*/
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
  border: 4px solid red;
}

/*Tablet screen*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    border: 4px solid green;
  }
}

/*Desktop screen*/
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    border: 4px solid yellow;
  }
}

/*PAGE 1*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-li {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .header-li {
    display: none;
  }
}

.header-li:last-child {
  margin-right: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 249px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pressed-state-color);
}

@media only screen and (min-width: 767px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-span {
  color: var(--dark-blue-color);
}

.header-nav {
  display: block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav.active::after {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
  content: '';
}

.active {
  color: var(--pressed-state-color);
}

.header-nav:hover,
.header-nav:focus {
  color: var(--pressed-state-color);
}

.adress-style {
  display: flex;
  gap: 40px;

  font-style: normal;
}

.header-adress {
  display: block;
  padding: 24px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress:hover,
.header-adress:focus {
  color: var(--pressed-state-color);
}

/* header button */
/* .menu-toggle-svg {
  stroke: var(--dark-blue-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
} */

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/*main*/

/*hero section*/
.hero {
  padding: 188px 0;
  flex-shrink: 0;
  background-color: var(--dark-blue-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--logo-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*advantages*/

.advantages {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }
}

.invisible-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

/* .advantages-layout {
  display: flex;
  gap: 24px;
} */

.advantages-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .advantages-layout {
    flex-direction: row;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-layout {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/*.advantages-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;

  border-radius: 4px;
  background-color: var(--close-to-white-color);
  margin-bottom: 8px;
} */

.advantages-background {
  display: none;
}

@media screen and (min-width: 1158px) {
  .advantages-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;

    border-radius: 4px;
    background-color: var(--close-to-white-color);
    margin-bottom: 8px;
  }
}

/*.advantages-icons {
  fill: none;
  stroke: var(--dark-blue-color);
}*/

/* .advantages-li {
  width: calc((100% - 72px) / 4);
}*/

.advantages-li {
  max-width: 356px;
}

@media only screen and (min-width: 768px) {
  .advantages-li {
    width: calc((100% - 24px) / 2);

    display: list-item;
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.advantages-title {
  margin-bottom: 8px;

  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark-blue-color);
}

@media only screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-title {
    font-weight: 500;
  }
}

.advantages-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  flex-wrap: wrap;
}

@media only screen and (min-width: 428px) and (max-width: 1157px) {
  .advantages-text {
    width: 396px;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-text {
    font-weight: 400;
  }
}

/*visual*/

/*.image-layout {
} */

.visual {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .visual {
    display: flex;
    padding-bottom: 120px;
  }

  .visual-li {
    display: flex;
    gap: 24px;
  }

  .visual-layout {
    width: calc((100% - 48px) / 3);
  }

  .visual-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue-color);
  }
}

/*Team*/

.team {
  padding: 96px 0;

  background-color: var(--close-to-white-color);
}

.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.team-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;

  row-gap: 64px;
  column-gap: 24px;
}

.team-list-color {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-images {
  border-radius: 0px 0px 4px 4px;

  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .team-images {
    max-width: 264px;
    width: calc((100% - 24px) / 2);
  }

  /* .team-list-color {
    width: calc((100% - 24px) / 2);
  } */
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-li {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-layout {
  padding: 32px 0;
}

.team-names {
  margin-bottom: 8px;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.team-position {
  margin-bottom: 8px;
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.social-link {
  width: 40px;
  height: 40px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.background-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background-link:hover {
  background-color: var(--pressed-state-color);
}

.background-link:focus {
  background-color: var(--pressed-state-color);
}

.team-social-icons {
  fill: var(--close-to-white-color);
}

/*Customers*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* .customers {
  padding-top: 120px;
  padding-bottom: 120px;
} */

.customers-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

/* .customers-layout {
  display: flex;
  gap: 24px;
} */

.customers-layout {
  display: flex;
  gap: 72px 16px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .customers-layout {
    display: flex;
    gap: 72px 24px;
    justify-content: center;
  }
}

@media only screen and (max-width: 1157px) {
  .customers-layout {
    flex-wrap: wrap;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

/* .customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.customers-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-gray-color);
  border-radius: 4px;
  color: var(--light-gray-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-page:hover,
.customers-page:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customers-icon:hover,
.customers-icon:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.customers-icon {
  fill: currentColor;
}

/*.customers-icon-layout {
  display: inline-flex;
  padding: 9px 9px 6px 11px;
  justify-content: center;
  align-items: center;
}*/

/*footer*/

/* .footer {
  padding: 100px 0;

  background-color: var(--dark-blue-color);
} */

.footer {
  padding-top: 97px;
  padding-bottom: 96px;

  background-color: var(--dark-blue-color);
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;

    background-color: var(--dark-blue-color);
  }
}

/* .horizontal {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
} */

.horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .horizontal {
    max-width: 584px;
  }

  .footer-text {
    width: 264px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }
}

/* .footer-distance {
  margin-right: 120px;
} */

.footer-distance {
  margin: 0 auto;
}

.footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

/* .footer-link {
  display: inline-block;
  margin-bottom: 16px;
} */

@media only screen and (max-width: 767px) {
  .footer-link {
    justify-content: center;
    text-align: center;
  }
}

.logo-footer {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--logo-color);

  margin-bottom: 16px;
}

.footer-span {
  color: var(--close-to-white-color);
}

.footer-text {
  max-width: 268px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--close-to-white-color);
}

@media only screen and (min-width: 1158px) {
  .footer-text {
    width: 264px;
  }
}

.footer-media-list {
  display: flex;
  gap: 16px;
}

.footer-media-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 1157px) {
  .footer-margin {
    margin: 0 auto;
  }
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green-color);
}

.footer-social-icons {
  fill: var(--close-to-white-color);
}

/*subscribe*/

/* .subscribe {
  margin-left: auto;
} */

.subscribe {
  width: 100%;
}

.subscribe-paragraph {
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-weight: 500;

  margin-bottom: 16px;
}

/* .subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
} */

@media only screen and (max-width: 767px) {
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-form-label {
  width: 100%;
  margin-bottom: 16px;
}

/* .subscribe-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;

  border-radius: 4px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: transparent;

  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: 1.5;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
} */

.subscribe-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: transparent;

  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: 1.5;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media only screen and (min-width: 768px) and (min-width: 1157px) {
  .subscribe-form-input {
    width: 264px;
  }
}

.subscribe-form-input:focus {
  border-color: var(--logo-color);
}

.subscribe-form-input::placeholder {
  color: var(--white-color);
}

.subscribe-button {
  justify-content: center;
  align-items: center;

  color: var(--white-color);

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  font-weight: 500;

  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  border-radius: 4px;
  background: var(--logo-color);
  border: none;
  border-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .subscribe-button {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-button {
    display: inline-flex;
  }
}

@media only screen and (min-width: 1158px) {
  .horizontal {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
  }

  .footer-distance {
    margin-right: 120px;
  }

  /*subscribe*/

  .subscribe {
    margin-left: 80px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }

  .subscribe-form-label {
    width: 264px;
  }

  .subscribe-form-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;

    border-radius: 4px;
    border: 1px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    background-color: transparent;

    font-size: 12px;
    letter-spacing: 0.48px;
    line-height: 1.5;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .subscribe-form-input:focus {
    border-color: var(--logo-color);
  }

  .subscribe-form-input::placeholder {
    color: var(--white-color);
  }

  .subscribe-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: var(--white-color);

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-weight: 500;

    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    border-radius: 4px;
    background: var(--logo-color);
    border: none;
    border-color: transparent;
    cursor: pointer;
  }

  .subscribe-icon {
    margin-left: 16px;
  }
}

.subscribe-icon {
  margin-left: 16px;
}

/*PAGE 2*/

/*main*/
.all {
  padding-top: 96px;
  padding-bottom: 120px;
}

/*button*/
.button-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-filters {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .button-filters:hover,
.portfolio .button-filters:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;

  color: var(--white-color);
  background-color: var(--pressed-state-color);
}

.portfolio .button-filters {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--close-to-white-color);
  cursor: pointer;
}

.portfolio .button:hover,
.portfolio .button:focus {
  border: 1px solid transparent;

  color: var(--white-color);
  background-color: var(--pressed-state-color);
}

/*projects*/

.projects-li {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-li:last-child {
  margin-right: 0;
}

.projects-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-link {
  width: calc((100% - 48px) / 3);
  position: relative;
}

.projects-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*overlay class*/

.overlay-image {
  position: relative;
  overflow: hidden;
}

.projects-link:hover .overlay-text,
.projects-link:focus .overlay-text {
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
  background-color: var(--logo-color);
}

.overlay:hover .overlay-text {
  transform: translatex(0);
}

.overlay-text {
  position: absolute;

  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--close-to-white-color);
  align-items: center;
  text-align: left;
  padding: 40px 32px;

  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text p {
  background-color: var(--logo-color);
}

/*modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 584px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--white-color);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: var(--dark-blue-color);
}

.modal-caption {
  width: 360px;
  display: block;

  color: var(--dark-blue-color);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  margin-bottom: 16px;
}

/**input files**/
.modal-form {
}

.all-modal-form {
  margin-bottom: 8px;
}

.all-modal-input {
  position: relative;
}

.all-modal-comment {
  margin-bottom: 16px;
}

.modal-form-filed {
  display: block;
  position: relative;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-gray-color);
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  font-size: 18px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--logo-color);
}

.modal-form-icon {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--dark-blue-color);
}

.modal-form-input:focus + .modal-form-icon {
  stroke: var(--logo-color);
  fill: var(--logo-color);
}

.modal-comment {
  display: block;
  color: rgba(46, 47, 66, 0.4);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  letter-spacing: 0.48px;
}

.modal-comment:focus {
  border-color: var(--logo-color);
}

/*agreement block*/
.agreement-margin {
  margin-bottom: 24px;
}

.modal-form-checkbox {
}

.modal-form-agreement-description {
  align-items: center;

  color: var(--light-gray-color);

  font-size: 12px;
  letter-spacing: 0.48px;
  user-select: none;
  line-height: 1.17;
}

.modal-form-link {
  color: var(--logo-color);
  text-decoration: underline;
}

.modal-form-custom-checkbox {
  display: inline-flex;
  margin-right: 8px;

  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-icon {
  opacity: 0;
}

.modal-form-checkbox:checked
  + .modal-form-agreement-description
  > .modal-form-custom-checkbox {
  border-color: var(--pressed-state-color);
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--close-to-white-color);
}

.modal-form-checkbox:checked
  + .modal-form-agreement-description
  > .modal-form-custom-checkbox
  > .modal-form-checkbox-icon {
  opacity: 1;
}
